<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>
<style type="text/css">
	label {
		display: inline-block;
		width: 200px;
		margin: 5px;
		text-align: left;
	}
	input[type=text], input[type=password], select {
		display: inline-block;
		width: 200px;
	}
	input[type=radio] {
		margin-left: 45px;
	}
	input[type=checkbox] {
		margin-right: 190px;
	}
	button {
		padding: 5px;
		margin: 10px;
	}
</style>
</head>
<body>
	<div align="center">
		<h1>Payment Process</h1>
		<form action="#" th:action="@{/bank/ui/otp}" method="post" th:object="${user}">
			<label>Name:</label>
			<input type="text" th:field="*{name}" /><br/>

			<label>Surname:</label>
			<input type="text" th:field="*{surname}" /><br/>

			<label>Card Number:</label>
			<input type="text" th:field="*{cardNo}" /><br/>

			<label>Expired Date (mm-yy):</label>
			<input type="text" th:field="*{expiredDate}" /><br/>

			<label>CVC:</label>
			<input type="text" th:field="*{cvc}" /><br/>

			<button type="submit">Buy</button>
		</form>
	</div>
</body>
</html>